/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-regular-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* shared code  */
.display-flex{
    display: flex;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* color code  */
.dark-1{
    color:#131313;
}
.orange{
    color:rgba(255, 144, 14, 1);
}

.dark-2{
    color:#424242;
}
.dark-3{
    color:rgba(114, 114, 114, 1);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}


/* btn code  */
.primary-btn{
    background-color: rgba(255, 144, 14, 1);
    color:#fff;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    
   
}

/* main code  */

/* navbar reletade styles  */
.navbar{
    align-items: center;
    justify-content: space-between;
   


}

.brand-name{
    font-size: 2.8rem;
    font-weight: bold;
}

.nav-item{
    list-style: none;
}
.item-link{
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.12rem;
    font-weight: medium;
    
}

.navbar, .banner{
    max-width: 1440px;
    
    margin: 0 auto;
}

/* banner reletade style  */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-details{
    font-size: 1rem;
    font-weight: 400;
     margin-bottom: 30px;
}
.banner-img{
    width: 100%;
}
/* feture reletade  */
.feture-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px
}
.feture-details{
    margin-left: 73px;
    margin-top: 200px;
    margin-bottom: 24px;
    max-width: 530px;
}

.feture-title {
    font-size: 2.8rem;
    font-weight: 700;

}
.feture-info{
    font-size: 1rem;
    font-weight: 400;
    color:#727272;
    margin-bottom: 24px;
    max-width: 530px;
}

/* experirence reletade */

.experience-card{
    border: 1px solid #FF900E;
     width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
   

}
.experience-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     gap:100px;
     /* max-width: 1140px; */
}
.experience-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top:8px;
    margin-bottom: 8px;
}
.experience-name{
    font-size: 1.25rem;
    font-weight: 700;
    color:#727272;
    margin-top: 5px;
}
.experience-title{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;

}
.experience-info{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 100px;
    color: #727272;
    max-width: 540px;
    
}
/* sponsore reletade  */
.sponsor-head{
    max-width: 540px;
    text-align: center;
    margin: 50px auto;

}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: bold;
}

.sponsor-info{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   margin-bottom: 130px;
    

}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* information reletade code  */
.information-section{
    gap:100px;
}

#infor-box{
    border-left: 5px solid #FF900E;
    padding: 20px;
   
}
.infor-title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0px;

}

.infor-details{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 586px;
}
.infor-card{
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    max-width: 586px;
    /* border: 1px solid red; */
}
.infor-card-title{
    font-size: 1.25rem;
    font-weight: 600;
   
    
}
.infor-card,.infor-card-title{
    margin-top: 0;
    margin-bottom: 0;
}
.infor-card-details{
    font-size: 1rem;
}
.infor-image{
    margin-top: 30px;
}
#experience-badge{
    padding:45px 42px;
    background-color: #FF900E;
    font-size: 1.5rem;
    color:#fff;
  
    border: none;
    border-radius: 8px;
    margin-left: -80px;
    margin-top: -90px;
    

}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}








/* responsive  */
/* normal  */
@media screen and (max-width:576px) {
.navbar, .item-links, .feture-list{
    flex-direction: column;
    
}
 .feture-img, .experience-container, .sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    
 }
 .feture-details{
   margin-top: 60px;
   margin-left: 20px;
   margin-right: 20px;
   
 }
 .experience-container{
    gap:24px;

 }
 .experience-card{
    margin: 0 auto;
    
 }
.experience-title, .experience-info{
    margin-left: 20px;

}
.sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap:40px;
}


}


/* tablet  */
@media  screen and (min-width:576px) and (max-width:992px) {

 .feture-list{
    flex-direction: column;
 }
  .feture-details{
   margin: 40px auto;
   
 }
.feture-img{
    grid-template-rows: repeat(1, 1fr);
    margin: 0 auto;
    
 }
 .experience-container{
    grid-template-columns: repeat(2, 1fr);
   
 }
  .experience-card{
    margin: 0 auto;
    gap:60px;
 }
  .experience-title, .experience-info{
    margin-left: 80px;
    
 }
.sponsor-companies{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap:40px;
}

}
/* medium  */